@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 * Fonts: Montserrat 700 - Crimson Text normal oblique - Hind Vadodara 300
 */

html,
body {
    overflow-x: hidden;
    background-color: #181818;
}
body {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;

}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

#display {
    position: relative;
    text-align: center;
}

.btn-default {
    background-color: lightgrey;
    transition-duration: 0.3s;
    text-align: center;
    padding: 10px;

    cursor: pointer;
    margin: 1px;
}

hr {
    width: 20%;
}

.shaderControls {
    position: relative;
    top: -63px;
    background-color: lightgrey;
    transition-duration: 0.3s;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    opacity: 0.25;
    display: inline;
    margin: 1px;
}

.btn-default span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.shaderControls:hover {
    opacity: 1;
}

#rightButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#rightButton:hover span {
    padding-right: 25px;
}

#rightButton:hover span:after {
    opacity: 1;
    right: 0;
}

#leftButton span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

#leftButton:hover span {
    padding-left: 25px;
}

#leftButton:hover span:after {
    opacity: 1;
    left: 0;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 0;
    margin-bottom: 0;
}

.masthead-nav > li {
    display: inline-block;

}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: large;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: transparent;
}


/*
 * Cover
 */
.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.col-sm-6 {
    padding-bottom: 20px;
}

/*
 * Footer
 */
.footer {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead-brand {
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
    }

    .masthead-nav {
        float: right;
        padding-top: 5px;
    }

    .masthead {
        position: fixed;
        display: table;
        margin: 0 auto;
        top: 0;
        vertical-align: middle;

    }
    /* Handle the widths */
    .masthead,
    .cover-container {
        width: 85%; /* Must be percentage or pixels for horizontal alignment */
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

#bottom-section {
    background-color: black;
    margin-top: 32px;
}

#contact-me {
    padding: 5px 30px 15px 30px;
    margin: 20px;
}

.footer {
    margin: 0 auto;
    text-align: center;
}


.reveal-text,
.reveal-text::after {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
    position: relative;
    font-size: xx-large;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: reveal-text;
    animation-name: reveal-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default

}

.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(39, 218, 255);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    pointer-events: none;
    -webkit-animation-name: revealer-text;
    animation-name: revealer-text;
}

@-webkit-keyframes reveal-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
}

@keyframes reveal-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
}

@-webkit-keyframes revealer-text {
    0%, 50% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
    60%, 100% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}


@keyframes revealer-text {
    0%, 50% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
    60%, 100% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}
